<div id='nav'>
  <div id='nav-inner'>
    <a class='logo' href='/'>
      <img src='/images/logo.jpg' width='190' />
    </a>
    <ul class='top'>
      <li>
        <a class='{% if page.url == '/' %}selected{% endif %}' href='/'>
          Home
        </a>
      </li>
      <li>
        <a class='{% if page.title == 'About' %}selected{% endif %} about' href='/about'>
          About
        </a>
      </li>
      <li>
        {% assign sorted = site.selected-projects | sort:'position' %}
        <a class='{% if page.url contains 'selected-projects' %}selected{% endif %} selected-projects' href='{{sorted.first.url}}'>
          Selected Projects
        </a>
      </li>
      <li>
        <a class='{% if page.title == 'Project list' %}selected{% endif %} project-list' href='/project-list'>
          Project List
        </a>
      </li>
      <li>
        <a class='{% if page.title == 'Clients' %}selected{% endif %} clients' href='/clients'>
          Clients
        </a>
      </li>
    </ul>
  </div>
</div>
