<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class=' home'>
    <div id='outer'>
      {% include nav.html %}
      <div id='nav-lower'>
      </div>
      <div class='content'>
        <div class='col1'>
          <h2>Latest News</h2>
          {% assign sorted = site.latest-news | sort:"date" | reverse %}
          {% for newsItem in sorted %}
          <div class='media'>
            <div class='pull-left'>
              {% if newsItem.Link.size > 0 %}
              <a href='{{newsItem.Link}}'>
              {% endif %}
              <img src='{{newsItem.Image}}' width=310 />
              {% if newsItem.Link.size > 0 %}
              </a>
              {% endif %}
            </div>
            <div class='media-body'>
              <h2 class='date'>{{ newsItem.date | date: '%d.%m.%Y' }}</h2>
              <h3>
                {{newsItem.title}}
              </h3>
              {{newsItem.content}}
              {% if newsItem.Link.size > 0 %}
                <a class='view' href='{{newsItem.Link}}'>
                  View this project
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class='col2'>
          <h2>News Archive</h2>
          {% for item in site.news-archive %}
          <div class='media'>
            {% if item.Link.size > 0 %}
            <a href='{{item.Link}}'>
            {% endif %}
            <img src='{{item.Image}}' width='215' />
            {% if item.Link.size > 0 %}
            </a>
            {% endif %}
            <h2 class='date'>{{ item.date | date: '%d.%m.%Y' }}</h2>
            <h3>
              {{item.title}}
            </h3>
            {{item.content}}
            {% if item.Link.size > 0 %}
              <a class='view' href='{{item.Link}}'>
                View this project
              </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class='col3'>
          {{content}}
        </div>
      </div>
      {% include footer.html %}
  </body>
</html>
