<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class=' home'>
    <div id='outer'>
      {% include nav.html %}
      <div id='nav-lower'>
      </div>
      <div class='content'>
        <div class='col1'>
          <h2>Latest News</h2>
          {% for newsItem in site.latest-news %}
          <div class='media'>
            <div class='pull-left'>
              <img src='{{newsItem.Image}}' />
            </div>
            <div class='media-body'>
              <h2 class='date'>{{ newsItem.date | date: '%d.%m.%Y' }}</h2>
              <h3>
                {{newsItem.title}}
              </h3>
              {{newsItem.content}}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class='col2'>
          <h2>News Archive</h2>
          {{site.collections}}
          {% for item in site.collections.news-archive %}
          <div class='media'>
            <a href='selected-projects/leinster-gardens'>
              <img src='{{newsItem.Image}}' width='215' />
            </a>
            <h2 class='date'>{{ item.date | date: '%d.%m.%Y' }}</h2>
            <h3>
              <a href='selected-projects/leinster-gardens'>
                {{item.title}}
              </a>
            </h3>
            {{newsItem.content}}
            {% if item.Link %}
              <a class='view' href='{{newsItem.Link}}'>
                View this project
              </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class='col3'>
          {{content}}
        </div>
      </div>
      {% include footer.html %}
  </body>
</html>
