<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class='selected-projects'>
    <div id='outer'>
      {% include nav.html %}
      {% include selected-projects-nav.html %}
      <div class='content'>
        <div class='col1'>
          <h1>{{page.title}}</h1>
          {{content}}
        </div>
        <div class='col2'>
          {% for src in page.Images %}
            <img src='{{ src }}'/>
          {% endfor %}
        </div>
      </div>
      {% include footer.html %}
  </body>
</html>
